.hidden {
    display:none;
}

form.editForm {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    padding:20px;
    background: #f3f3f3;
    border-radius:4px;
    border:1px solid #aaa;
    max-width:360px;
    margin:20px 0;
    height: max-content;
    width:30%;
}

.App.dark form.editForm {
    background:#222;
}

form.editForm label {
    width:95%;
    text-align:left;
}

form.editForm label span {
    font-size:80%;
    font-weight:500;
}

form.editForm input,
form.editForm select {
    width:100%;
    border-bottom:1px solid #ccc;
    border-top:0;
    border-left:0;
    border-right:0;
    line-height:36px;
    height:36px;
    padding:0 12px;
    background:#f3f3f3;
    display:block;
}

.App.dark form.editForm select {
    background:#333;
}

.App.dark form.editForm input {
    background: #333;
}

form.editForm input:focus,
form.editForm select:focus {
    outline:none;
}

form.editForm select option {
    line-height:36px;
    height:36px;
    display:block;
}

form.editForm button {
    border-radius: 10px;
    transition: .2s linear;
    padding: 12px 15px;
}

.App.dark form.editForm button {
    color: white;
    background: #333;
}

form.editForm button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #333;
}

.App.dark form.editForm button:hover {
    box-shadow: 0 0 0 2px #222, 0 0 0 4px #333;
}

form.editForm button:disabled {
    background: #999;
    cursor:not-allowed;
}