.content {
    display:block;
    max-width:400px;
    margin:0 auto;
}

h1 {
    font-size:20px;
    text-transform:uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-size:16px;
    text-transform:uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:0;
    display:block;
}


.simple-table {
    margin:20px 0;
    border:0;
}

.simple-table thead tr th {
    padding:5px 20px;
    background: #1976D2;
    color: #fff;
}

.simple-table tbody tr:nth-child(even) {
    background: #1976D220;
}

.simple-table tbody tr td {
    padding:5px 20px;
}